/* * Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    position: relative;
}

/* * /Reset */

/* size container */

.container{
    width: 300px;
    height: 450px;
    background-size: contain;
    position: relative;
}

.container-color-text{
    background-color: white;
    width: 300px;
    height: 65px;
    position: absolute;
    top: 95%;
}

.container-heart{
    background-color: white;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 12pt;
    text-align: center;
    line-height: 30px;
}

.container-heart:hover{
    color: #ec0037;
}

.container-sales{
    background-color: #ec0037;
    width: 30px;
    height: 18px;  
    position: absolute;
    top: 380px;
    font-size: 8pt;
    color: white;
    text-align: center;
    line-height: 18px;
}

.container-sostenibility{
    background-color: #028759;
    height: 18px;
    width: 60px;
    position: absolute;
    top: 380px;
    left: 35px;
    font-size: 8pt;
    color: white;
    text-align: center;
    line-height: 18px;
}

.container-sostenibility.last{
    position: absolute;
    left: 0;
}

/* /size container */

/* setting all dress */

.dress-1{
    background-image: url(../img/1.webp);
}

.dress-2{
    background-image: url(../img/2.webp);
}

.dress-3{
    background-image: url(../img/3\ 1.webp);
}

.dress-4{
    background-image: url(../img/4.webp);
}

.dress-5{
    background-image: url(../img/5.webp);
}

.dress-6{
    background-image: url(../img/6.webp);
}

.dress-1:hover{
    background-image: url(../img/1b.webp);
}

.dress-2:hover{
    background-image: url(../img/2b.webp);
}

.dress-3:hover{
    background-image: url(../img/3b\ 1.webp);
}

.dress-4:hover{
    background-image: url(../img/4b.webp);
}

.dress-5:hover{
    background-image: url(../img/5b.webp);
}

.dress-6:hover{
    background-image: url(../img/6b.webp);
}


/* /setting all dress */

/* set marche  */

.set{
    display: block;
}

.set.micro.text{
    font-size: 8pt;
    font-weight: ;
}

.set.model{
    font-size: 12pt;
}

.set.price{
    font-size: 8pt;
    color: red;
    display: inline-block;
}

.setting.sales{
    color: black;
    text-decoration: line-through;
    font-size: 8pt;
}

/* /set marche  */

/* position container */

.container.dress-1{
    position: absolute;
    top: 8%;
    bottom: 8%;
    left: 60%;
}

.container.dress-2{
    position: absolute;
    top: 8%;
    bottom: 8%;
    left: 165%;
}

.container.dress-3{
    position: absolute;
    top: 8%;
    bottom: 8%;
    left: 270%;
}

.container.dress-4{
    position: absolute;
    left: 12.5%;
    top: 120%;
}

.container.dress-5{
    position: absolute;
    left: 35%;
    top: 120%;
}

.container.dress-6{
    position: absolute;
    left: 57%;
    top: 120%;
}
/* /position container */